:root {
  --background-color2: rgba(191, 237, 233, 0.5);
  --tweetBox: #edeae5;
  --tweet: #fef9c7;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif, "Trebuchet MS", Helvetica, sans-serif;
}
#root {
  background-color: var(--background-color2);
  min-height: 100vh;
}
.search-container {
  width: 70%;
  margin: 0 auto;
}
.search-input-container {
  display: flex;
  margin-right: 20px;
}
.search-input-container input {
  flex-basis: 100%;
  border-radius: 5px 0 0 5px;
  border: none;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 10px;
  font-family: "Ubuntu", sans-serif, "Trebuchet MS", Helvetica, sans-serif;
}
.search-input-container button {
  border-radius: 0px 5px 5px 0px;
  border: none;
  box-shadow: 1px 1px 1px lightgrey;
  background-color: var(--tweetBox);
  transition: 0.2s background-color ease-in;
  font-family: "Ubuntu", sans-serif, "Trebuchet MS", Helvetica, sans-serif;
}
.search-input-container button:hover {
  background-color: white;
}
.container {
  padding-top: 50px;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.tweets-container {
  flex-basis: 70%;
  padding: 30px 5px 30px 5px;
  margin: 0 20px 0 20px;
  background-color: var(--tweetBox);
  border-radius: 0px 10px 10px 10px;
  box-shadow: 1px 1px 1px lightgrey;
}
.buttons-container {
  padding-left: 20px;
}
.buttons-and-tweets {
  flex-basis: 100%;
}
.button {
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  border: none;

  background-color: var(--background-color2);
  transition: 0.2s background-color ease-in;
  font-family: "Ubuntu", sans-serif, "Trebuchet MS", Helvetica, sans-serif;
  outline: none;
  cursor: pointer;
}
.--active {
  background-color: var(--tweetBox);
}
.button:hover {
  background-color: var(--tweetBox);
}
.post-container {
  width: 100%;
  display: flex;
  position: relative;
}
#post {
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 1px lightgrey;
  transition: 0.2s width ease-in;
}
.post-label {
  position: absolute;
  transform: translateY(50%);
  transition: transform 0.2s ease-in, font-size 0.2s ease-in;
  white-space: nowrap;
  padding-left: 10px;
  cursor: text;
}
#post:focus {
  width: 100%;
}
#post:focus + .post-label {
  transform: translateY(-125%);
  font-size: 90%;
  cursor: default;
}
.post-button {
  flex-basis: 10%;
}
#username-input {
  display: block;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 1px lightgrey;
  transition: width 0.2s ease-in;
}
#username-input:focus {
  width: 80%;
}
#username-input:focus + .username-input-label {
  top: 25%;
  font-size: 85%;
  cursor: default;
}
.username-input-container {
  position: relative;
  padding-top: 50px;
}
.username-input-label {
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease-in, font-size 0.2s ease-in-out;
  cursor: text;
  width: 100%;
}
.login-container {
  text-align: center;
  animation: animation 1s ease-in;
}
@keyframes animation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo-container {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}
.logo-container img {
  max-width: 300px;
}
.profile-container {
  flex-basis: 30%;
  align-self: start;
  padding: 20px;
  background-color: #edeae5;
  border-radius: 10px;
  box-shadow: 1px 1px 1px lightgrey;
  position: sticky;
  top: 50px;
}
@media only screen and (max-width: 1500px) {
  .container {
    width: 80%;
  }
  .search-container {
    width: 80%;
  }
}
@media only screen and (max-width: 1250px) {
  .profile-container {
    flex-basis: 30%;
  }
}
@media only screen and (max-width: 1124px) {
  .container {
    width: 98%;
  }
  .search-container {
    width: 98%;
  }
}
@media only screen and (max-width: 921px) {
  #post {
    width: 65%;
  }
  #post:focus {
    width: 100%;
  }
  #username-input {
    width: 40%;
  }
  .profile-container {
    flex-basis: 25%;
  }
}
@media only screen and (max-width: 813px) {
  #post {
    width: 85%;
  }
}
@media only screen and (max-width: 710px) {
  #post {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    padding-top: 0;
  }
  .profile-container {
    margin: 0 0 80px 20px;
    position: relative;
  }
  #post {
    width: 50%;
  }
  #username-input {
    width: 55%;
  }
}
@media only screen and (max-width: 540px) {
  .profile-container {
    margin: 0 auto;
    margin-bottom: 80px;
  }
  #post {
    width: 80%;
  }
  #username-input {
    width: 70%;
  }
}
@media only screen and (max-width: 570px) {
  #username-input {
    width: 70%;
  }
}
@media only screen and (max-width: 490px) {
  #username-input {
    width: 70%;
  }
}
@media only screen and (max-width: 440px) {
  #post {
    width: 100%;
  }
  #username-input {
    width: 85%;
  }
}
@media only screen and (max-width: 365px) {
  #post {
    width: 100%;
  }
  #username-input {
    width: 90%;
  }
  #username-input:focus {
    width: 90%;
  }
  .tweets-container {
    margin: 0;
  }
}
