.profile-flex {
  display: flex;
  position: relative;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px 0 10px;
}
#profile-image {
  object-fit: contain;
  max-width: 150px;
  border-radius: 10px;
}
.uploader {
  text-align: center;
}
.uploader label {
  display: block;
  padding: 10px;
}
.uploader:hover {
  opacity: 1;
}
.uploadcare--widget__button {
  cursor: pointer;
}
.profile-flex:hover ~ .uploader {
  opacity: 1;
}
.uploader {
  opacity: 0;
  width: 150px;
  top: 90px;
  position: absolute;
  transition: opacity 0.5s ease-in;
}
.uploader label {
  background-color: rgba(237, 234, 229, 0.8);
  border-radius: 5px;
  padding: 5px;
}
