.profile-container {
  flex-basis: 20%;
  align-self: start;
  margin: 0 20px 20px 20px;
  padding: 20px;
  background-color: #edeae5;
  border-radius: 10px;
  box-shadow: 1px 1px 1px lightgrey;
}
.profile-flex {
  display: flex;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
#profile-image {
  object-fit: contain;
  max-width: 150px;
  border-radius: 10px;
}
.uploader {
  text-align: center;
}
.uploader label {
  display: block;
  padding: 10px;
}
