:root {
  --background-color: #9fedd7;
  --background-color2: rgba(191, 237, 233, 0.5);
  --tweetBox: #edeae5;
  --tweets: #fef9c7;
}
.list-item {
  list-style-type: none;
  padding: 10px 0 10px 0;
  margin-top: 25px;
  display: flex;
  height: 45px;
  background-color: var(--background-color2);
  border-radius: 10px 0 10px 0;
  box-shadow: 1px 1px 1px lightgrey;
}
.tweet-picture-container {
  height: 65px;
  margin-left: 5px;
  margin: -10px 0 -10px 0;
}
.tweet-picture-container img {
  height: 65px;
  border-radius: 10px 0 10px 0;
}
.tweet-content p {
  margin: 0;
  flex-basis: 100%;
}
.tweet-username {
  padding-right: 20px;
}
.tweet-time::before {
  content: " ~";
}
.tweet-content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  width: 100%;
}
